*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --------------Nav bar*/

section{
    
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#I{
    /* border: 1px solid black; */
    height: 700px;
    width: 30%;
}

#II{
    /* border: 1px solid black; */
    height: 600px;
    width: 25%;
}
h1{
    padding-left: 100px;
    padding-top: 70px;
    font-size: 90px;
}
h2{
    padding-left: 25px;
    color: rgb(82, 79, 79);
}

#sc{
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#insta{
    margin-top: 20px;
    margin-left: 43px;
    
    height: 100px;
    width: 130px;
}

h3{
    padding-left:65px ;
}

#link{
    margin-top: 30px;
    margin-left: 45px;

    height: 100px;
    width: 130px;
}

#face{
    margin-top: 50px;
    margin-left: 45px;

    height: 80px;
    width: 100px;
}
#twit{
    margin-top: 25px;
    margin-left: 45px;

    height: 80px;
    width: 110px;
}

#main{
    height: 600px;
    width: 550px;
}

footer{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h5{
    margin-top: -80px;
    margin-left: -10px;
    font-size: 50px;
}
#naa{
    font-size: 30px;
}
#name{
    height: 50px;
}
#email{
    height: 50px;
}
#msg{
    font-size: 30px;
    margin-top: 50px;

}
#addree{
    margin-top: 15px;
}



